<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.repository.UserRepository">
    <insert id="insertUser">
        insert into user_info values (#{id},#{pwd},#{name},#{email},#{birth},#{sns},now())
	</insert>
    <select id="selectUser" resultType="User">
        select id, pwd from user_info where id = #{id}
    </select>
    <select id = "selectUserAll" resultType="User">
        select * from user_info
	</select>

</mapper>
